                /* INDEX SECTION */
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/845265/pexels-photo-845265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}


                /*  */
